- visibility_level = params.dig(:project, :visibility_level) || default_project_visibility
- ci_cd_only = local_assigns.fetch(:ci_cd_only, false)
- hide_init_with_readme = local_assigns.fetch(:hide_init_with_readme, false)
- hide_additional_settings = local_assigns.fetch(:hide_additional_settings, false)
- track_label = local_assigns.fetch(:track_label, 'blank_project')
- expanded = Rails.env.test?

.row{ id: project_name_id }
  = f.hidden_field :ci_cd_only, value: ci_cd_only
  .form-group.project-name.col-sm-12
    = f.label :name, class: 'label-bold' do
      %span= _("Project name")
    = f.text_field :name, placeholder: "My awesome project", class: "form-control input-lg", autofocus: true, data: { track_label: "#{track_label}", track_event: "activate_form_input", track_property: "project_name", track_value: "" }
  .form-group.project-path.col-sm-6
    = f.label :namespace_id, class: 'label-bold' do
      %span= s_("Project URL")
    .input-group.flex-nowrap
      - if current_user.can_select_namespace?
        .input-group-prepend.flex-shrink-0.has-tooltip{ title: root_url }
          .input-group-text
            = root_url
        - namespace_id = namespace_id_from(params)
        = f.select(:namespace_id,
                   namespaces_options(namespace_id || :current_user,
                                      display_path: true,
                                      extra_group: namespace_id),
                   {},
                   { class: 'select2 js-select-namespace qa-project-namespace-select block-truncated', tabindex: 1, data: { track_label: "#{track_label}", track_event: "activate_form_input", track_property: "project_path", track_value: "" }})
        .input-group-addon.project-path-slug-separator /

      - else
        .input-group-prepend.static-namespace.flex-shrink-0.has-tooltip{ title: user_url(current_user.username) + '/' }
          .input-group-text.border-0
            #{user_url(current_user.username)}/
        = f.hidden_field :namespace_id, value: current_user.namespace_id
  .form-group.project-path.col-sm-6
    = f.label :path, class: 'label-bold' do
      %span= _("Project slug")
    = f.text_field :path, placeholder: "my-awesome-project", class: "form-control", required: true
- if current_user.can_create_group?
  .form-text.text-muted
    Want to house several dependent projects under the same namespace?
    = link_to "Create a group.", new_group_path

= f.label :visibility_level, class: 'label-bold' do
  Visibility Level
  = link_to icon('question-circle'), help_page_path("public_access/public_access"), aria: { label: 'Documentation for Visibility Level' }, target: '_blank', rel: 'noopener noreferrer'
= render 'shared/visibility_level', f: f, visibility_level: visibility_level.to_i, can_change_visibility_level: true, form_model: @project, with_label: false

- if !hide_init_with_readme
  .form-group.row.initialize-with-readme-setting
    %div{ :class => "col-sm-12" }
      .form-check
        = check_box_tag 'project[initialize_with_readme]', '1', false, class: 'form-check-input', data: { track_label: "#{track_label}", track_event: "activate_form_input", track_property: "init_with_readme" }
        = label_tag 'project[initialize_with_readme]', class: 'form-check-label' do
          .option-title
            %strong Initialize repository with a README
          .option-description
            Allows you to immediately clone this project’s repository. Skip this if you plan to push up an existing repository.

- if !hide_additional_settings
  %section.settings.no-animate{ class: ('expanded' if expanded) }
    %button.btn.btn-link.js-settings-toggle{ type: 'button', track_label: "#{track_label}", track_event: "click_button", track_property: "toggle_hidden_fields" }
      = expanded ? _('Hide avatar, license and features settings') : _('Show avatar, license and features settings')

    .settings-content
      .form-group
        = f.label :description, class: 'label-bold' do
          %span= _("Project description (optional)")
        = f.text_area :description, placeholder: 'Description format', class: "form-control", rows: 3, maxlength: 250, data: { track_label: "#{track_label}", track_event: "activate_form_input", track_property: "project_description", track_value: "" }

      .form-group
        = f.label :avatar, class: 'label-bold' do
          %span= _("Project avatar")
        .prepend-top-5.append-bottom-10
          %button.btn.js-choose-project-avatar-button{ type: 'button', track_label: "#{track_label}", track_event: "click_button", track_property: "select_project_avatar" }= _("Choose file...")
          %span.file_name.prepend-left-default.js-filename= _("No file chosen")
          = f.file_field :avatar, class: "js-project-avatar-input hidden"
        .form-text.text-muted= _("The maximum file size allowed is 200KB.")

      .form-group
        = f.label :license, class: 'label-bold' do
          %span= _("License")
        .license-selector.js-license-selector-wrap.js-template-selector-wrap
          = dropdown_tag("Apply a license template", options: { toggle_class: 'js-license-selector qa-license-dropdown', title: "Apply a license", filter: true, placeholder: "Filter", data: { data: licenses_for_select(@project), track_label: "#{track_label}", track_event: "click_form_input", track_property: "select_project_license" } } )
          %input.js-project-license{ :name => "project_license", :type => "hidden", :value => "" }

      .form-group
        = f.label :project_feature_attributes, class: 'label-bold' do
          %span= _("Features")
        .project-feature-settings
          .project-feature-row
            %label.label-bold
              %span= _("Issues")
            %span.form-text.text-muted= ("Lightweight issue tracking system for this project")
            .project-feature-controls{ "data-for" => "project_feature_attributes[issues_access_level]" }
              %label.toggle-wrapper
                %button.js-project-feature-toggle.project-feature-toggle{ "aria-label" => "Toggle Status: OFF", :type => "button", track_label: "#{track_label}", track_event: "click_feature_toggle", track_property: "issues_access_level" }
                  %input.js-project-feature-toggle-input{ :type => "hidden", :value => "0" }/
                  .loading-container.text-center.loading-icon
                    %i.fa.fa-spinner.fa-1x.fa-spin{ "aria-hidden" => "true", "aria-label" => "Loading" }
                  %span.toggle-icon
                    %svg.s16.ic-status_failed_borderless.toggle-icon-svg{ "aria-hidden" => "true" }
                      %use{ "xlink:href" => "/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#status_failed_borderless" }
              .select-wrapper
                %select.form-control.project-repo-select.select-control{ :disabled => "disabled", :name => "project_feature_attributes[issues_access_level]" }
                  %option{ :value => "0" }
                    %span= _("Enable feature to choose access level")
                %i.fa.fa-chevron-down{ "aria-hidden" => "true" }
          .project-feature-row
            %label.label-bold
              %span= _("Repository")
            %span.form-text.text-muted= _("View and edit files in this project")
            .project-feature-controls{ "data-for" => "project_feature_attributes[repository_access_level]" }
              %label.toggle-wrapper
                %button.js-project-feature-toggle.project-feature-toggle{ "aria-label" => "Toggle Status: OFF", :type => "button", track_label: "#{track_label}", track_event: "click_feature_toggle", track_property: "repository_access_level" }
                  %input.js-project-feature-toggle-input{ :type => "hidden", :value => "0" }/
                  .loading-container.text-center.loading-icon
                    %i.fa.fa-spinner.fa-1x.fa-spin{ "aria-hidden" => "true", "aria-label" => "Loading" }
                  %span.toggle-icon
                    %svg.s16.ic-status_success_borderless.toggle-icon-svg{ "aria-hidden" => "true" }
                      %use{ "xlink:href" => "/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#status_success_borderless" }
              .select-wrapper
                %select.form-control.project-repo-select.select-control{ :disabled => "disabled", :name => "project_feature_attributes[repository_access_level]", }
                  %option{ :value => "0" }
                    %span= _("Enable feature to choose access level")
                %i.fa.fa-chevron-down{ "aria-hidden" => "true" }
          .project-feature-row
            %label.label-bold
              %span= _("Wiki")
            %span.form-text.text-muted= _("Pages for project documentation")
            .project-feature-controls{ "data-for" => "project_feature_attributes[wiki_access_level]" }
              %label.toggle-wrapper
                %button.js-project-feature-toggle.project-feature-toggle{ "aria-label" => "Toggle Status: OFF", :type => "button", track_label: "#{track_label}", track_event: "click_feature_toggle", track_property: "wiki_access_level" }
                  %input.js-project-feature-toggle-input{ :type => "hidden", :value => "0" }/
                  .loading-container.text-center.loading-icon
                    %i.fa.fa-spinner.fa-1x.fa-spin{ "aria-hidden" => "true", "aria-label" => "Loading" }
                  %span.toggle-icon
                    %svg.s16.ic-status_success_borderless.toggle-icon-svg{ "aria-hidden" => "true" }
                      %use{ "xlink:href" => "/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#status_success_borderless" }
              .select-wrapper
                %select.form-control.project-repo-select.select-control{ :disabled => "disabled", :name => "project_feature_attributes[wiki_access_level]" }
                  %option{ :value => "0" }
                    %span= _("Enable feature to choose access level")
                %i.fa.fa-chevron-down{ "aria-hidden" => "true" }
          .project-feature-row
            %label.label-bold
              %span= _("Snippets")
            %span.form-text.text-muted= _("Share code pastes with others out of Git repository")
            .project-feature-controls{ "data-for" => "project_feature_attributes[snippets_access_level]" }
              %label.toggle-wrapper
                %button.js-project-feature-toggle.project-feature-toggle{ "aria-label" => "Toggle Status: OFF", :type => "button", track_label: "#{track_label}", track_event: "click_feature_toggle", track_property: "snippets_access_level" }
                  %input.js-project-feature-toggle-input{ :type => "hidden", :value => "0" }/
                  .loading-container.text-center.loading-icon
                    %i.fa.fa-spinner.fa-1x.fa-spin{ "aria-hidden" => "true", "aria-label" => "Loading" }
                  %span.toggle-icon
                    %svg.s16.ic-status_success_borderless.toggle-icon-svg{ "aria-hidden" => "true" }
                      %use{ "xlink:href" => "/assets/icons-24aaa921aa9e411162e6913688816c79861d0de4bee876cf6fc4c794be34ee91.svg#status_success_borderless" }
              .select-wrapper
                %select.form-control.project-repo-select.select-control{ :disabled => "disabled", :name => "project_feature_attributes[snippets_access_level]" }
                  %option{ :value => "0" }
                    %span= _("Enable feature to choose access level")
                %i.fa.fa-chevron-down{ "aria-hidden" => "true" }
          /


= f.submit 'Create project', class: "btn btn-success project-submit", data: { track_label: "#{track_label}", track_event: "click_button", track_property: "create_project", track_value: "" }
