- snippet_blob = chunk_snippet(snippet_blob, @search_term)
- snippet = snippet_blob[:snippet_object]
- snippet_chunks = snippet_blob[:snippet_chunks]

.search-result-row
  %h4.snippet-title
    = link_to reliable_snippet_path(snippet) do
      = snippet.title

  .snippet-box.has-tooltip.inline.append-right-5.append-bottom-10{ title: snippet_visibility_level_description(snippet.visibility_level, snippet), data: { container: "body" } }
    %span.sr-only
      = visibility_level_label(snippet.visibility_level)
    = visibility_level_icon(snippet.visibility_level, fw: false)
    %span.creator
      Authored
      = time_ago_with_tooltip(snippet.created_at, placement: 'bottom', html_class: 'snippet_updated_ago')
      by #{link_to_member(snippet.project, snippet.author, size: 24, author_class: "author item-title", avatar_class: "d-none d-sm-inline")}
      = user_status(snippet.author)

  - snippet_path = reliable_snippet_path(snippet)
  .file-holder
    .js-file-title.file-title
      = link_to snippet_path do
        %i.fa.fa-file
        %strong= snippet.file_name
    - if markup?(snippet.file_name)
      .file-content.md.md-file
        - snippet_chunks.each do |chunk|
          - unless chunk[:data].empty?
            = markup(snippet.file_name, chunk[:data])
          - else
            .file-content.code
              .nothing-here-block= _("Empty file")
    - else
      .file-content.code.js-syntax-highlight
        .line-numbers
          - snippet_chunks.each do |chunk|
            - unless chunk[:data].empty?
              - Gitlab::Git::Util.count_lines(chunk[:data]).times do |index|
                - offset = defined?(chunk[:start_line]) ? chunk[:start_line] : 1
                - i = index + offset
                = link_to snippet_path+"#L#{i}", id: "L#{i}", rel: "#L#{i}", class: "diff-line-num" do
                  %i.fa.fa-link
                  = i
        .blob-content
          - snippet_chunks.each do |chunk|
            - unless chunk[:data].empty?
              = highlight(snippet.file_name, chunk[:data])
            - else
              .file-content.code
                .nothing-here-block= _("Empty file")
